<launch>

<!-- joy_node -->
<node respawn="true" pkg="joy" type="joy_node" name="joy">
  <param name="dev" type="string" value="/dev/input/js0" />
  <param name="deadzone" value="0.12" />
  <param name="autorepeat_rate" value="25" />
</node>

<!-- joy_controller -->
<node pkg="joy_controller"   type="joy_controller_node"  name="joy_controller" >
  <rosparam command="load" ns="/joy_controller" file="$(find joy_controller)/config/ps2.yaml" />
</node>

</launch>
